@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app {
height: 100%;
}


/* small custom styles for layout */
.app-shell {
min-height: 100vh;
display: flex;
}
.sidebar {
width: 260px;
}
.content {
flex: 1;
}